.SearchForm {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.SearchForm input {
    padding: 10px 5px;
    border-radius: 10px;
    margin: 15px;
    border: none;
    color: hsl(220, 13%, 18%);
    box-shadow: 2px 2px 5px 0 hsl(220, 13%, 40%);
}

.SearchForm button {
    padding: 10px 15px;
    border-radius: 10px;
    margin: 15px;
    color: #ffffff;
    background-color: hsl(220, 13%, 40%);
    box-shadow: 2px 2px 5px 0 hsl(220, 13%, 40%, .8);
    border: none;
}

.LastSearch {
    margin-bottom: 2rem;
    display: inline-block;
    text-decoration: underline;
    color: inherit;
    text-transform: uppercase;
}
