.Return {
    margin-bottom: 2rem;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.Title {
    margin-bottom: 2rem;
}

.NextPage {
    padding: 10px 15px;
    margin: 3rem 0;
    color: #ffffff;
    background-color: hsl(220, 13%, 40%);
    border: none;
    box-shadow: 2px 4px 5px 0 hsl(220, 13%, 40%, .8);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1.2em;
    cursor: pointer;
}

.ButtonPage {
    display: flex;
    justify-content: center;
}

.NextPage:hover {
    background-color: hsl(220, 13%, 30%);
}
