:root {
    --BaseColor: hsl(220, 13%, 18%);
    --FontColor: #ffffff;
    --brand-color_1: hsl(325, 100%, 30%);
    --brand-color_2: hsl(130, 100%, 30%);
    --brand-color_3: hsl(35, 100%, 30%);
    --brand-color_4: hsl(360, 100%, 30%);
    --brand-color_5: hsl(15, 100%, 30%);
    --brand-color_6: hsl(70, 100%, 30%);
    --gifShadow-size: 4px;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

#root {
    margin: 2rem auto;
    width: 90%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--BaseColor);
    color: var(--FontColor);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    text-align: center;
}
